* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 1.2rem;
    top: 0;
    background: #131313;
    z-index: 999;
}

.navbar__container {
    display: flex;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    z-index: 1; 
    padding: 0 auto;
    margin: 0 auto;
}

#navbar__logo {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgba(69, 137, 226, 0.726);
    cursor: pointer;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.navbar__links:hover {
    color: #ff8177;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    padding: 10px 20px;
    border-radius: 5px;
    color: beige;
    text-decoration: none;
    border: none;
    outline: none;
}

.button:hover {
    background: #ff8177;
    transition: all .3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: center;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        z-index: 1;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        height: 100vh;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all .5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        height: 50vh;
        top: 100%;
        opacity: 1;
        transition: all .5s ease-in-out;
        z-index: 99;
        font-size: 1.6rem;
    }

    #navbar__logo {
        width: 50vh;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all .3s ease-in-out;
        background: rgb(115, 173, 228);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        display: table;
        text-align: center;
        padding: 2rem;
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__button {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* contain setion */

.main {
    background: #131313;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    padding: 0 50px;
    height: 90vh;
    width: 100%;
    max-width: 1300px;
    background-color: #141414;
    z-index: 1;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #64aae4;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 2rem;
    background-color: #64aae4;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 7px;
    color: #ff8177;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
}

.main__btn a {
    position: relative;
    text-decoration: none;
    z-index: 2;
    color: white;
}

.main__btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff8177;
    transition: all .35s;
    border-radius: 7px;
}

.main__btn:hover {
    background-color: #ff8177;
}

.main__btn:hover::after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    width: 80%;
    height: 80%;
    /* background-color: #0b75d7; */
    /* border-radius: 7px; */
}

/* Responsive */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        width: 100%;
    }
    
    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    
    .main__content h2 {
        font-size: 1.8rem;
    }
    
    .main__content p {
        margin-top: 1rem;
        font-size: 1rem;
    }
    
    .main__btn {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    .main__content h2 {
        font-size: 1.5rem;
    }
    
    .main__content p {
        margin-top: 1rem;
        font-size: 1rem;
    }
    
    .main__btn {
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 2rem;
    }
}

/* Services Section */

.services {
    background: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #64aae4 0%, #b1d5f3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-bottom: 2rem;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* gap: 5px 5px; */
}

.services__card-one,
.services__card-two,
.services__card-three,
.services__card-four {
    margin: 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 7px;
    background-size: cover;
    position: relative;
}

.services__card-one {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, .6) 100%), url(/images/1.JPG); */
    background: url(/images/1.JPG);
    color: white;
}

.services__card-two {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, .6) 100%), url(/images/2.JPG); */
    background: url(/images/2.JPG);
    color: white;
}

.services__card-three {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, .6) 100%), url(/images/3.JPG);
    /* background: url(/images/3.JPG); */
    color: white;
}

.services__card-four {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, .6) 100%), url(/images/topic.jpg);
    /* background: url(/images/topic.jpg); */
    height: 400px;
    width: 400px;
    color: white;
}

.services__card-one:hover,
.services__card-two:hover,
.services__card-three:hover,
.services__card-four:hover {
    transform: scale(1.07);
    transition: .3s ease-in-out;
} 

.services__card-one h2,
.services__card-two h2,
.services__card-three h2,
.services__card-four h2 {
    position: absolute;
    top: 270px;
    left: 20px;
}

.services__card-one p,
.services__card-two p,
.services__card-three p,
.services__card-four p {
    position: absolute;
    top: 300px;
    left: 20px;
}

.services__card-two button,
.services__card-three button,
.services__card-four button {
    position: absolute;
    top: 330px;
    left: 20px;
    outline: none;
    border: none;
    background: #ff8177;
    color: white;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.services__card-one button {
    position: absolute;
    top: 350px;
    left: 20px;
    outline: none;
    border: none;
    background: #ff8177;
    color: white;
    padding: 10px 10px;
    border-radius: 7px;  
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 1.3rem;
        margin-top: 1rem;
        text-align: center;
    }

    .services__container {
    display: grid;
    grid-template-columns: auto;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.3rem;
        margin-top: 1rem;
        text-align: center;
    }

    .services__container {
    display: grid;
    grid-template-columns: auto;
    }
    
.services__card-one,
.services__card-two,
.services__card-three,
.services__card-four {
    width: 300px;
}

.services__card-one h2,
.services__card-two h2,
.services__card-three h2,
.services__card-four h2 {
    font-size: 1rem;
}

.services__card-one p,
.services__card-two p,
.services__card-three p,
.services__card-four p {
    font-size: .9rem;
}

.services__card-three button {
    margin-top: 10px;
}
}

/* Footer Section */
.footer__container {
    /* background: linear-gradient(211deg, #93c4ec, transparent); */
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

#footer__logo {
    color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.footer__links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    color: #fff;
    margin-bottom: 15px;
}


.footer__link--items a {
    text-decoration: none;
    color: #fff;
    margin-bottom: .5rem;
}

.footer__link--items a:hover {
    color: #ff8177;
}

/* Socail Icons */

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    width: 90%;
    margin: 40px auto 0 auto;
}

.socail__icon--link-twi,
.socail__icon--link-fac,
.socail__icon--link-ins,
.socail__icon--link-you,
.socail__icon--link-lin {
    font-size: 25px;
    padding-left: 10px;
}
.socail__icon--link-twi {
    color: #29a4d9;
}
.socail__icon--link-fac {
    color: #395498;
}
.socail__icon--link-ins {
    color: #ba3a9a;
}
.socail__icon--link-you {
    color: #ff0f00;
}
.socail__icon--link-lin {
    color: #0963bc;
}

.social__icon {
    display: flex;
    justify-content: space-between;
}

.website__right {
    color: white;
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .footer__link--wrapper {
        flex-direction: column;
    }
    .social__media--wrap {
        flex-direction: column;
    }
    .footer__links {
        padding-top: 10rem;
    }
    .website__right {
        margin-bottom: 2rem;
        text-align: center;
    }
    #footer__logo {
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 480px) {
    .footer__link--wrapper {
        flex-direction: column;
    }
    .social__media--wrap {
        flex-direction: column;
    }
    .footer__links {
        padding-top: 10rem;
    }
    .website__right {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    #footer__logo {
        margin-bottom: 1.5rem;
    }
}

.scroll {
    cursor: pointer;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 40px;
    right: -80px;
    border-radius: 50%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px 0px #888;
    transition: 300ms;
}

.scroll i {
    margin-top: 10px;
    text-shadow: 0 0 2px #fff;
}

.scroll:hover i {
    animation-name: rotate;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotate {
    from {margin-top: 10px}
    to {margin-top: 5px}
}

.visible {
    right: 30px;
    transition: all 400ms;
    transform: rotate(360deg)
}